<div class="cartao">
  <div class="cartao-inner">
    <div class="cartao-content cartao-content-front">
      <div class="cartao-text">
        <div class="cartao-logo">
          <img *ngIf="pagamento.numeroCartao && flag" src="/assets/img/{{flag}}" alt="">
        </div>
        <div class="cartao-numero">
          {{ pagamento.numeroCartao ? pagamento.numeroCartao : '**** **** **** ****' }}
        </div>
        <div class="display-flex">
          <div class="cartao-nome flex-1">
            {{ pagamento.nome ? (pagamento.nome | uppercase) : 'NOME DO TITULAR' }}
          </div>
          <div class="cartao-validade">
            {{ pagamento.validade ? pagamento.validade : '00/00' }}
          </div>
        </div>
      </div>
      <img
        class="cartao-img"
        src="/assets/img/cartao_{{ pagamento.numeroCartao ? 'conteudo' : 'em_branco'}}.svg" alt="">
    </div>

    <div class="cartao-content cartao-content-back">
      <div class="cartao-text">
        <div class="cartao-ccv">
          {{ pagamento.cvv ? pagamento.cvv : '***' }}
        </div>
      </div>
      <img
        class="cartao-img"
        src="/assets/img/cartao_versu_{{ pagamento.cvv ? 'conteudo' : 'branco'}}.svg" alt="">
    </div>
  </div>
</div>
