@import "../../../scss/_variables";
:host {

  .cartao {
    width: 280px;
    height: 200px;
    left: 50%;
    margin-left: -140px;
    position: absolute;

    &:hover .cartao-inner, .cartao-inner.cartao-rotate {
      transform: rotateY(180deg);
      .cartao-content-front .cartao-img {
        box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0);
      }
    }
    .cartao-inner {

      transition: transform 0.6s;
      transform-style: preserve-3d;
      position: relative;

      .cartao-content {
        position: absolute;
        left: 50%;
        margin-left: -140px;
        backface-visibility: hidden;
        width: 100%;
        .cartao-img {
          transition: all 0.6s ease-in-out;
          border-radius: 10px;
          width: 280px;
          // height: 173.13px;
          // box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
        }
        .cartao-text {
          position: absolute;
          left: 50%;
          top: 15%;
          margin-left: -121px;
          text-shadow: 0px 1px 2px #000000;
          width: 242.19px;
          .cartao-logo {
            margin-bottom: 2rem;
            height: 18px;
            img {
              width: 53px;

            }
          }
          .cartao-numero {
            font-size: 19px;
            letter-spacing: 1.52px;
            margin-bottom: 1.6rem;
            width: 100%;
            height: 23px;
          }
          .display-flex {
            .cartao-nome, .cartao-validade {
              font-size: .75rem;
              margin-right: .125rem;
            }
          }
        }
        &.cartao-content-back {
          // display: none;
          transform: rotateY(180deg);
          .cartao-text {
            top: 46.2%;

            .cartao-ccv {
              color: black;
              text-shadow: 0 0 0 #000000;
              margin-left: 117px;
              font-size: 1rem;
            }
          }
        }
      }
    }

  }

  @media(min-width: 768px) {

    .cartao {
      width: 365px;
      height: 250px;
      left: 0;
      margin-left: 4rem;
      .cartao-inner {
        .cartao-content {
          left: 0;
          margin-left: 0;
          .cartao-img {
            width: 365px;
          }
          .cartao-text {
            margin-left: -157px;
            text-shadow: 0px 1px 2px #000000;
            width: 313.33px;
            .cartao-logo {
              margin-bottom: 3rem;
              height: 1.4375rem;
              img {
                width: 69px;
              }
            }
            .cartao-numero {
              letter-spacing: 2.31px;
              font-size: 24px;
              margin-bottom: 2.25rem;
              height: 29px;
            }
            .display-flex {
              .cartao-nome, .cartao-validade {
                font-size: .75rem;
              }
            }
          }
          &.cartao-content-back {
            // display: none;
            .cartao-text {
              top: 47%;

              .cartao-ccv {
                margin-left: 154px;
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }

  @media(max-width: 990px) and (min-width: 768px) {
    .cartao {
      margin-left: 2rem;
    }
  }
}
