@import "../../../scss/_variables";

:host {
  @media(max-width: 767px) {
    .stepper {
      display: none;
    }
  }
  @media(min-width: 768px) {
    .stepper {
      margin-bottom: 2.5rem;
      display: flex;
      justify-content: center;
      color: $main-color;
      .stepper-item {
        display: flex;
        align-items: center;
        .stepper-check {
          margin-right: .5rem;
          font-size: 1.6rem;
        }
        .stepper-number {
          margin-right: .5rem;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          border: 1.3px solid $main-color;
          text-align: center;
          font-weight: bold;
          font-size: 13px;
          line-height: 19px;
        }
        label {
          font-size: 13px;
          letter-spacing: -0.01px;
        }
        .stepper-divider {
          margin: 0 1.5rem;
        }
        &:last-child .stepper-divider:last-child {
          display: none;
        }
      }
    }
  }
}
