<div class="stepper">
  <div class="stepper-item">
    <fa class="stepper-check" name="check-circle"></fa>
    <label>Carrinho</label>
    <fa class="stepper-divider" name="chevron-right"></fa>
  </div>
  <div class="stepper-item">
    <!-- <fa class="stepper-check" name="check-circle"></fa> -->
    <div class="stepper-number">2</div>
    <label>Pagamento</label>
    <fa class="stepper-divider" name="chevron-right"></fa>
  </div>
  <div class="stepper-item">
    <!-- <fa class="stepper-check" name="check-circle"></fa> -->
    <div class="stepper-number">3</div>
    <label>Confirmação</label>
    <fa class="stepper-divider" name="chevron-right"></fa>
  </div>
</div>
