@import "../../../scss/_variables";
:host {
  .page {
    background-color: $content-page-bg;
    padding-top: 100px;
    min-height: 100vh;
  }

  @media(min-width: 991px) {
    .page {
      padding-top: 120px;
    }
  }

  /* smartfone */
  @media (max-width: 990px) {
    .container {
      margin: 0;
    }
    .page {
      padding-top: 60px;
    }
  }
}
