<header>
  <!-- icone -->
  <div class="container">
    <div class="brand">
      <img  src="/assets/img/logo.svg" alt="Logo Demo Shop">
    </div>

    <!-- nav -->
    <nav>
      <hays-itens-menu></hays-itens-menu>
    </nav>

    <!-- botão para mobile -->
    <div class="btn-menu" (click)="menu.toggle()">
      <fa name="bars"></fa>
    </div>

  </div>

</header>

<hays-sidebar #menu></hays-sidebar>


