@import "../../../scss/_variables";

:host {
  header {
    z-index: 300;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 2px $box-shadown;

    .container {
      display: flex;
      align-items: center;
      height: 100%;

      .brand {
        flex: 1;
        margin-left: -3px;
      }

      .btn-menu {
        cursor: pointer;
        font-size: 1.5rem;
        &:hover {
          color: $color-btn-nav;
        }
      }
    }
  }

  @media(max-width: 990px) {
    header {
      height: 60px;
      .container {
        .brand {
          text-align: center;
          img {
            width: 200px;
          }
        }
        nav {
          display: none;
        }
        .btn-menu {
          display: block;
        }
      }
    }
  }

  @media(min-width: 991px) {
    header {
      height: 80px;
      .container {

        .btn-menu {
          display: none;
        }
      }
    }
  }
}
