@import "../../../../scss/_variables";
:host {

  form.form-content {
    width: 100%;
    padding: 0 2rem 2rem 2rem;
  }
  .btn-form {
    text-align: right;
    button {
      border: 1px solid $main-color;
      background-color: $main-color;
      color: $font-dark-bg;
      height: 51px;
      width: 100%;
      border-radius: 10px;
      letter-spacing: -0.01px;
      font-weight: 500;
      font-size: 17px;
      transition: all .3s ease-in-out;
      cursor: pointer;

      &:hover:not([disabled]) {
        background-color: $font-dark-bg;
        color: $main-color;
      }
      &[disabled] {
        background-color: lighten($color: $main-color, $amount: 10)
      }
    }
  }

  @media(min-width: 768px) {
    form.form-content {
      padding: 0 5.5rem 5.5rem 9rem;
    }
    .btn-form button{
      width: 246px;
    }
  }

  @media(max-width: 990px) and (min-width: 768px) {
    form.form-content {
      padding: 0 3rem 3rem 7rem;
    }
  }
}
