<form class="form-content" [formGroup]="pagamentoForm" (submit)="save()">
  <hays-input-text
    mask="0000 0000 0000 0000"
    [(ngModel)]="pagamento.numeroCartao"
    (ngModelChange)="checkCreditCardFlag()"
    label="Número do Cartão"
    [control]="pagamentoForm.get('numeroCartao')"
    formControlName="numeroCartao">
  </hays-input-text>

  <hays-input-text
    [(ngModel)]="pagamento.nome"
    label="Nome (igual ao cartão)"
    mask="S* S* S*"
    [control]="pagamentoForm.get('nome')"
    formControlName="nome">
  </hays-input-text>

  <div class="display-flex">

    <hays-input-text
      class="mr-10 flex-1"
      [(ngModel)]="pagamento.validade"
      mask="00/00"
      (ngModelChange)="checkValidade()"
      label="Validade"
      [control]="pagamentoForm.get('validade')"
      formControlName="validade">
    </hays-input-text>

    <hays-input-text
      (inputFocus)="focusSubject.next($event)"
      class="ml-10 flex-1 cvv"
      [(ngModel)]="pagamento.cvv"
      mask="000"
      label="CVV"
      [control]="pagamentoForm.get('cvv')"
      formControlName="cvv">
    </hays-input-text>
  </div>

  <hays-select
    label="Número de parcelas"
    formControlName="parcelas"
    [control]="pagamentoForm.get('parcelas')"
    [list]="parcelas">
  </hays-select>

  <div class="btn-form">
    <button type="submit" [disabled]="pagamentoForm.invalid">
      {{ 'continuar' | uppercase }}
    </button>
  </div>
</form>
