<div class="carrinho-resumo">

  <div class="carrinho-header"></div>

  <div class="carrinho-body">
    <div class="item" *ngFor="let item of [1,2,3,4,5,6]">
      <div class="description"></div>
      <div class="value"></div>
    </div>
  </div>
  <div class="carrinho-footer item">
    <div class="description"></div>
    <div class="value"></div>
  </div>
</div>
