@import "../../../scss/_variables";
:host {
  .carrinho {
    &-resumo {
      background-color: $card-bg;
      margin-left: 2rem;
      min-width: 327px;
      min-height: 327px;
      padding: 3.25rem 1.25rem;
      .item {
        display: flex;
        &:not(:last-child) {
          margin-bottom: .625rem;
        }
        div {
          height: .75rem;
          background-color: $content-page-bg;
          border-radius: 5px;
        }
        .description {
          flex: 1;
          margin-right: 2.875rem;
        }
        .value {
          width: 2.75rem;
        }
      }
      .carrinho {

        &-header {
          width: 238px;
          height: 18px;
          background-color: $content-page-bg;
          border-radius: 5px;
          margin-bottom: 1.5625rem;
        }
        &-body {
          border-top: 1px solid $border-style;
          border-bottom: 1px solid $border-style;
          padding: 1.5625rem 0;
          margin-bottom: 1.5625rem;

        }
        &-footer.item {
          .description, .value {
            background-color: $total-color;
          }
        }
      }
    }
  }
}
