<div class="grupo-input"
  [ngClass]="{'grupo-invalid': control.touched && control.invalid}">

  <mat-form-field class="form-control">
    <mat-label>{{label}}</mat-label>
    <input
      matInput
      [mask]="mask"
      [placeholder]="place"
      [errorStateMatcher]="matcher"
      [formControl]="control"
      type="text"
      [value]="value"
      (change)="changeValue($event)"
      (keyup)="changeValue($event)"
      (blur)="onBlur()"
      (focus)="onFocus(true)"
      (focusout)="onFocus(false)">

    <mat-hint *ngIf="msg">{{ msg }}</mat-hint>

    <mat-error *ngIf="control.touched && control.invalid">
      {{ control | validMsgPipe:formControlName }}
    </mat-error>

  </mat-form-field>

</div>
