:host {
  .grupo-input {
    &.grupo-invalid {
      mat-form-field.form-control {
        ::ng-deep .mat-form-field-underline {
          background-color: #EB5757;
        }
      }
    }
    mat-form-field {
      &.form-control {

        &.mat-focused {
          ::ng-deep .mat-form-field-ripple {
           /*change color of underline when focused*/
           background-color: #00DE91 !important;
          }
        }
        ::ng-deep {
          .mat-form-field-infix {
            width: 100% !important;
          }

          .mat-form-field-underline {
            /*change color of underline*/
            background-color: #C9C9C9;
          }


        }
      }
    }
  }
}
