<div class="grupo-input"
  [ngClass]="{'grupo-invalid': control.touched && control.invalid}">

  <mat-form-field class="form-control">
    <mat-label>{{label}}</mat-label>

    <mat-select
      [errorStateMatcher]="matcher"
      [formControl]="control"
      class="control"
      [value]="value"
      (change)="changeValue($event)"
      (blur)="onBlur()">

      <mat-option value="null" disabled>Selecione um tipo</mat-option>

      <mat-option
        *ngFor="let item of list"
        [value]="item.id">
        {{ item.label }}
      </mat-option>

    </mat-select>

    <mat-error *ngIf="control.touched && control.invalid">
      {{ control | validMsgPipe:formControlName }}
    </mat-error>

    <mat-hint *ngIf="msg">{{msg}}</mat-hint>

  </mat-form-field>
</div>
