@import "../../../scss/_variables";
:host {
  .card-pagamento {
    display: flex;
    width: 100%;
    flex-direction: column;

    .pagamento {
      &-cartao {
        color: $font-dark-bg;
        background-color: $main-color;
        min-width: 34.35%;
        min-height: 240px;
        padding: 2rem 1rem;
        position: relative;
        .voltar {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          fa {
            font-size: 1.5rem;
            margin-right: 1rem;
          }
          .etapa {
            text-align: center;
            font-size: .8125rem;
            flex: 1;
            margin-right: 2rem;
            span {
              font-weight: bold;
            }
          }
          .alterar {
            display: none;
            font-size: 13px;
          }
        }
        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
          img {
            margin-right: 1rem;
          }
          h1 {
            font-size: 1rem;
            width: 170px;
            line-height: 20px;
            margin: 0;
          }
        }
      }
      &-form {
        flex: 1;
        padding-top: 5.5rem;
        background-color: $card-bg;
      }
    }
  }



  @media(min-width: 768px) {
    .card-pagamento {
      flex-direction: row;
      align-items: stretch;

      .pagamento {
        &-cartao {
          padding: 3rem 1rem 3rem 4rem;
          .voltar {
            margin-bottom: 53px;
            fa {
              font-size: 1rem;
            }
            .etapa {
              display: none;
            }
            .alterar {
              display: block;
            }
          }
          .header {
            margin-bottom: 1.875rem;
            justify-content: start;
            h1 {
              font-size: 1.25rem;
              width: 207px;
              line-height: 1.5rem;
            }
          }
        }
        &-form {
          padding-top: 3rem;
        }
      }
    }
  }

  @media(max-width: 990px) and (min-width: 768px) {
    .card-pagamento {

      .pagamento {
        &-cartao {
          padding: 3rem 1rem 3rem 2rem;
        }
      }
    }
  }
}
