<div class="card-pagamento">
  <div class="pagamento-cartao">

    <div class="voltar">
      <fa name="chevron-left"></fa>
      <div class="etapa">
        <span>Etapa 2</span> de 3
      </div>
      <div class="alterar">
        Alterar forma de pagamento
      </div>

    </div>

    <div class="header">
      <img src="/assets/img/cc_circle_icon.svg" alt="Ícone cartão de crédito">
      <h1>Adicione um novo cartão de crédito</h1>
    </div>

    <hays-cartao
      [pagamento]="pagamento">
    </hays-cartao>

  </div>
  <div class="pagamento-form">

    <hays-stepper></hays-stepper>

    <hays-pagamento-form
      [pagamento]="pagamento">
    </hays-pagamento-form>
  </div>
</div>
