<!-- sidebar -->
<div [ngClass]="{'active-menu': isShown}" >
    <div class="menu-bar">
      <fa name="times" (click)="toggle()"></fa>

      <hays-itens-menu (click)="toggle()">
      </hays-itens-menu>

    </div>
  <div class="overlay" (click)="toggle()"></div>
</div>
