@import "../../../scss/_variables";

:host {
  .menu-bar {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: fixed;
    height: 100%;
    width: 80%;
    margin-top: 60px;
    z-index: 200;
    max-width: 300px;
    top: 0;
    right: -80%;
    transition: all 0.3s ease-in-out;
    color: #fff;
    background: $sidebar-bg;

    fa {
      color: white;
      padding: 1rem;
      font-size: 1.6rem;
      font-weight: 100;
    }


  }

  .active-menu {
    .menu-bar {
      right: 0;
    }
    .overlay {
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: .3)
    }
  }
}
