.container {
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin basicColumn {
  float: left;
  padding: 0 15px;
}

// Usage
.linha {
  @include clearfix;
  margin: 0 -15px;
}

// cols
.coluna {
  @for $i from 1 through 12 {
    &-#{$i} {
      // width: $one-column * $i;
      width: percentage($i / 12);
      @include basicColumn;

    }
  }
}

@media (max-width: 1400px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
/* tablet landscape*/
@media (min-width: 700px) and (max-width: 800px) {
  .coluna-tb {
    @for $i from 1 through 12 {
      &-#{$i} {
        // width: $one-column * $i;
        width: percentage($i / 12);
        @include basicColumn;

      }
    }
  }
}
/* tablet portrait & desktop */
@media (min-width: 800px) {
  .coluna-dt {
    @for $i from 1 through 12 {
      &-#{$i} {
        // width: $one-column * $i;
        width: percentage($i / 12);
        @include basicColumn;

      }
    }
  }
}


