
$color-btn-nav: #999;
$box-shadown: #ccc;
$red-card: #DE4B4B;
$main-color: #DE4B4B;
$active-link: #E0E0E0;
$sidebar-bg: #2f353a;
$content-page-bg: #F7F7F7;
$card-bg: white;
$font-dark-bg: white;
$border-style: #707070;
$total-color: #C9C9C9;


// pass a px value to know the rem value
@function getSizeRem($val, $base: 16) {
  @return ($val / $base) + rem;
}
