@import "_grid";
@import "_variables";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
  }
}

a {
  text-decoration: none;
  color: #444;
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.grupo-input {
  margin-bottom: 20px;

  &.grupo-invalid {
    mat-form-field.form-control {
      mat-label {
        color: #EB5757;
      }
    }
  }
  mat-form-field {
    &.form-control {
      width: 100%;

      mat-label {
        color: #C9C9C9;
        font-size: 17px;
      }

      input {
        color: #3C3C3C;
      }

      &.mat-focused {
        mat-label {
          color: #00DE91;
        }
      }
    }
  }
}

