@import "../../../scss/_variables";
:host {
  @media(max-width: 990px) {
    ul {
      min-height: 100%;
      padding: 0;
      text-align: right;

      li {
        position: relative;
        margin: 0;
        transition: all .3s ease-in-out;
        width: 100%;

        a {
          height: 100%;
          width: 100%;
          display: block;
          padding: 1rem;
          text-decoration: none;
          transition: all .3s ease-in-out;
          &:hover {
            background-color: $red-card;
          }

          &.active-link {
            background-color: $active-link;
            div {
              color: #000000;
            }
          }
          div {
            text-align: right;
            border-radius: 5px;
            width: 6.25rem;
            height: 1rem;
            background-color: $color-btn-nav;
          }
        }

        &:hover {
          opacity: 1.4;
        }
      }
    }
  }

  @media(min-width: 991px) {
    ul {

      // padding: .75rem 0;
      li {
        border-radius: 5px;
        margin-left: 2.1875rem;
        width: 6.25rem;
        height: 1rem;
        background-color: $color-btn-nav;
      }


    }
  }
}
