<ul>
  <li class="nav-item">
    <a routerLink="/compra"
      routerLinkActive="active-link">
      <div></div>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/dashboard"
      routerLinkActive="active-link">
      <div></div>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/resumo"
      routerLinkActive="active-link">
      <div></div>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/configuracoes"
      routerLinkActive="active-link">
      <div></div>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/configuracoes"
      routerLinkActive="active-link">
      <div></div>
    </a>
  </li>

</ul>
